
body{
    color: #40514E;
    margin: 0;
    text-align: center;
     font-family: 'Ubuntu', sans-serif;
     font-weight: 500;

}

h1{
    color: #66bfbf;
    font-size: 5.625rem;
    /* line-height: 2; */
    margin-top: 50px;
    font-family: 'Sacramento',cursive;
}
h2{
    color:#66bfbf ; 
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;

    padding-bottom: 10px;
}
h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

p{
    line-height: 2;
}

hr{
    border: dotted #eaf6f6 6px;
    border-top: none;
    width: 4%;
    margin: 100px auto 100px auto;
}

a{
    color: #206063;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    margin: 10px 20px; 
    text-decoration: none ;

}

a:hover{
    color:white;
}


.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    
    
}
.top-container{
    position: relative;
    padding-top: 100px;
    background-color:#e2f8fa;
}

.middle-container{
background-color: white;
margin: 100px 0;
}

.bottom-container{
    background-color: #66bfbf;
    padding: 50px 0 20px;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
    height: 80px;
    width: 150px;
    
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 550px;
    height: 80px;
    width: 150px;
}
 .mountain{
    padding-top: 100px;
}

.web{
    text-decoration: underline;
}

.intro{
    width: 30%;
    margin: auto;
}

.photoshop-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.code-img{
    width: 25%;
    float: right;
}

.yuvraj-img{
    margin-top: 100px;
}

.contactme-discription{
    width: 30%;
    margin: 40px auto 60px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30eceb;
    background-image: -webkit-linear-gradient(top, #30eceb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30eceb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30eceb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30eceb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30eceb, #2bc4ad);
    text-decoration: none;
  }